
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Matemasie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.matemasie-font {
  font-family: 'Matemasie', sans-serif;
}

.lobster-font {
  font-family: 'Lobster', cursive;
}
.permanent-marker-font {
    font-family: 'Permanent Marker', cursive;
  }